<a href="https://colab.research.google.com/github/Akshithkumarreddy/Machine_learning_AL/blob/main/06_KNN_classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**IMPORT HEADERS**

In [1]:
import numpy as np
import pandas as pd
from scipy.stats import mode
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

**READ CSV FILE**

In [2]:
iris = pd.read_csv('Irisdataset.csv')
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

**REPLACE UNWANTED COLUMNS**

In [3]:
iris.drop(columns="Id",inplace=True)

In [4]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SepalLengthCm  150 non-null    float64
 1   SepalWidthCm   150 non-null    float64
 2   PetalLengthCm  150 non-null    float64
 3   PetalWidthCm   150 non-null    float64
 4   Species        150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [5]:
missing_values = iris.isnull().sum()
missing_values

SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

**DIVIDING INTO DATA AND LABEL**

In [6]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
iris['Species'] = le.fit_transform(iris['Species'])

In [8]:
X=iris.iloc[:,:-1].values
Y=iris.iloc[:,-1].values

**SPLITTING DATA INTO TRAIN & TEST**

In [9]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=0)

**CHECKING SHAPE OF TRAIN AND TEST DATA**

In [10]:
print("Shape of X-train : ",X_train.shape)
print("Shape of Y-train : ",Y_train.shape)

print("Shape of X-test : ",X_test.shape)
print("Shape of Y-test : ",Y_test.shape)

Shape of X-train :  (120, 4)
Shape of Y-train :  (120,)
Shape of X-test :  (30, 4)
Shape of Y-test :  (30,)

**FUNCTION TO CALCULATE EUCLIDEAN DISTANCE**

In [11]:
def eucledian(sample_1, sample_2):
    return np.sqrt(np.sum((sample_1-sample_2)**2))

**FUNCTION TO DO CLASSIFICATION**

In [16]:
def knn_classifier(k, X_train, Y_train, X_test):

    output_label = []

    for sample in X_test:

        sample_distance = []

        for j in range(len(X_train)):
            sample_distance.append(eucledian(np.array(X_train[j,:]) , sample))
        sample_distance = np.array(sample_distance)

        indexes = np.argsort(sample_distance)[:k]

        labels = Y_train[indexes]

        label = mode(labels)
        #label = label.mode[0]
        label = label.mode
        output_label.append(label)

    return output_label

**MAKING PREDICTIONS**

In [17]:
Y_pred = knn_classifier(5, X_train,Y_train,X_test)

**CHECKING ACCURACIES BY VARYING K**

In [18]:
for i in range(1,21,2):
    print("The {}-nn Classifier Accuracy is : {} % tested on {} samples.".format(i, accuracy_score(Y_test, knn_classifier(i, X_train,Y_train,X_test))*100, len(X_test)))

The 1-nn Classifier Accuracy is : 100.0 % tested on 30 samples.
The 3-nn Classifier Accuracy is : 96.66666666666667 % tested on 30 samples.
The 5-nn Classifier Accuracy is : 96.66666666666667 % tested on 30 samples.
The 7-nn Classifier Accuracy is : 100.0 % tested on 30 samples.
The 9-nn Classifier Accuracy is : 100.0 % tested on 30 samples.
The 11-nn Classifier Accuracy is : 100.0 % tested on 30 samples.
The 13-nn Classifier Accuracy is : 100.0 % tested on 30 samples.
The 15-nn Classifier Accuracy is : 100.0 % tested on 30 samples.
The 17-nn Classifier Accuracy is : 100.0 % tested on 30 samples.
The 19-nn Classifier Accuracy is : 100.0 % tested on 30 samples.